.search-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* 固定位置 */
    bottom: 100px; /* 距离底部的距离 */
    left: 60px; /* 距离左侧的距离 */
    width: 384px; /* 搜索框宽度 */
    height: 53px;
    border-radius: 49px;
    background-color: #fff;
    box-shadow: 2px 2px 12.9px  rgba(0, 0, 0, 0.25);
    z-index: 1000; /* 确保在最上层 */
}

.show-all-works-btn {
    position: fixed; /* 固定位置 */
    bottom: 35px; /* 距离底部的距离 */
    left: 60px; /* 距离左侧的距离 */
    width: 213px; /* 搜索框宽度 */
    height: 42px;
    border-radius: 53px;
    background-color: #000;
    color: #EBF4A1;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.search-box-input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 20px 0 0 20px;
    font-size: 24px;
    color: #888;
    background-color: transparent; /* 确保背景透明 */
}

.search-box-input::placeholder {
color: #ccc; /* 占位符颜色 */
}

.search-button {
    position: absolute;
    right: 0;
    top: 50%;
    width: 53px;
    height: 53px;
    transform: translateY(-50%);
    background-color: #000; /* 按钮背景色 */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
background-color: #444; /* 鼠标悬停时按钮变暗 */
}

.search-button svg {
color: #ffeb3b; /* 按钮箭头颜色 */
font-size: 18px;
}
