.nav-button-wrapper {
display: contents;
}

.toggle-button-close {
  padding-inline: 5px 5px;
  padding-bottom: 1px;
  font-size: 1em;
  width: 35px !important;
}

.toggle-button {
  padding-inline: 5px 5px;
  padding-bottom: 1px;
  font-size: 1em;
  width: 35px !important;
}